<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  </head>
  <body>
  <h4><%= htmlWebpackPlugin.options.title %></h4>
        <div class="container bs-docs-container" id="content-vanilla">Loading 1</div>
        <div class="container bs-docs-container" id="content-vanilla2">Loading 2</div>
        <div id="content">Loading</div>
</html>